*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    margin:0;
    padding:0;
    background:linear-gradient(135deg,#ff9ec4,#ffd6e8,#ffe8f4);
    overflow-y:auto;
}

.container,
.balloon-page,
.final-page{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px 20px;
}

.card{
    width:700px;
    max-width:90%;
    background:rgba(255,255,255,0.25);
    backdrop-filter:blur(15px);
    border-radius:30px;
    padding:50px;
    box-shadow:0 0 35px rgba(255,20,147,.4);
    animation:zoom 1s ease;
}

@keyframes zoom{
    from{
        transform:scale(.5);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

h1{
    color:white;
    font-size:48px;
    text-shadow:0 0 15px hotpink;
}

h2,h3{
    color:#ff1493;
    margin-top:20px;
}

p{
    margin-top:20px;
    font-size:22px;
    color:white;
    line-height:1.6;
}

.buttons{
    margin-top:40px;
}

button{
    padding:15px 35px;
    margin:15px;
    border:none;
    border-radius:50px;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 10px 25px rgba(255,20,147,.4);
}

#yesBtn{
    background:#ff1493;
    color:white;
}

#yesBtn:hover{
    transform:scale(1.1);
}

#noBtn{
    background:white;
    color:#ff1493;
    position:relative;
}

.balloons{
    display:flex;
    gap:25px;
    margin-top:40px;
    flex-wrap:wrap;
    justify-content:center;
}

.balloon{
    width:90px;
    height:110px;
    background:linear-gradient(#ff4d88,#ff99cc);
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:45px;
    cursor:pointer;
    animation:float 2s ease-in-out infinite;
    box-shadow:0 10px 25px rgba(255,20,147,.4);
}

.balloon:hover{
    transform:scale(1.15);
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-20px);}
    100%{transform:translateY(0);}
}

#messageBox{
    margin-top:35px;
    width:80%;
    max-width:700px;
    background:white;
    color:#ff1493;
    padding:20px;
    border-radius:20px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#nextBtn{
    padding:15px 35px;
    border:none;
    border-radius:40px;
    background:#ff1493;
    color:white;
    font-size:20px;
    cursor:pointer;
}

video{
    max-width:100%;
    border-radius:20px;
    box-shadow:0 0 20px hotpink;
    margin-top:20px;
}

.photo{
    width:250px;
    height:300px;
    object-fit:cover;
    border-radius:20px;
    border:5px solid white;
    box-shadow:0 0 25px hotpink;
    margin:20px 0;
}